.header {
  padding-top: 40px;
  padding-bottom: 92px;
  background-image: url(img/main/header-bg-mob_x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: Roboto, sans-serif;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(img/main/header-bg-mob_2x.jpg);
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 54px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 200ms linear;

  &__name {
    display: none;
  }
  &:hover,
  &:active,
  &:focus {
    scale: 1.1;
  }
}
.nav {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1;

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    transition: all 200ms linear;
  }
  &__item:hover,
  &__item:active,
  &__item:focus {
    scale: 1.1;
  }
  &__item--current::before {
    position: absolute;
    bottom: -2px;
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #c73838;
  }
}
.search-form {
  position: relative;

  &__input {
    width: 100%;
    border: none;
    border-bottom: #fff solid 2px;
    background-color: transparent;
    color: currentColor;
  }
  &__input::placeholder {
    color: currentColor;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
  }
  &__button {
    position: absolute;
    top: 0;
    right: 5px;
    width: 24px;
    background-color: transparent;
    border: none;
  }
}
@include tablet {
  .header {
    padding-top: 40px;
    padding-bottom: 81px;
    background-image: url(img/main/header-bg-tab_x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url(img/main/header-bg-tab_2x.jpg);
    }
  }
  .header__nav {
    margin-bottom: 40px;
  }
  .logo__name {
    display: block;
  }
  .search-form {
    margin-left: 216px;
    margin-right: 216px;
  }
}
@include desktop {
  .header {
    background-image: url(img/main/header-bg-desk_x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url(img/main/header-bg-desk_2x.jpg);
    }
    .search-form {
      margin-left: 442px;
      margin-right: 442px;
    }
  }
}
