<header class="header">
  <div class="container">
    <div class="header__nav">
      <a href="./" class="logo">
        <svg class="logo__icon" width="24px" height="24px">
          <use href="./img/main/symbol-defs.svg#movie" />
        </svg>
        <span class="logo__name">Filmoteka</span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item nav__item--current">
            <a href="./" class="nav__link">HOME</a>
          </li>
          <li class="nav__item">
            <a href="./library.html" class="nav__link">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>
    <form class="search-form">
      <input
        class="search-form__input"
        type="text"
        placeholder="Movie search"
        name="search"
      />
      <button class="search-form__button" type="submit">
        <svg class="search-form__icon" width="24px" height="24px">
          <use href="./img/main/symbol-defs.svg#search" />
        </svg>
      </button>
    </form>
  </div>
</header>
